repos:
-   repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
    - id: black
      language_version: python3

-   repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
    - id: isort
      language_version: python3

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      language_version: python3
      additional_dependencies: ['flake8-comprehensions', 'pep8-naming', 'flake8-black']
