# include documentation and files needed by documentation
recursive-include doc *.py *.rst *.md *.png *.jpg *.svg *.json *.bat Makefile
recursive-exclude doc/build *

# include icons
recursive-include orangecontrib/bioinformatics/widgets/icons *.svg *.png *.jpg

# include tests and files needed by tests
recursive-include orangecontrib/bioinformatics/tests *.ows *.tsv *.mtx *.tab.gz *.tab
recursive-include .azure-pipelines *.yml
include *.yml
include .coveragerc

# include meta data
include CODE_OF_CONDUCT.md
include README.md
include LICENSE
include requirements*.txt
include setup.py
include setup.cfg
